<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEFAULT_LOG_PATTERN"
              value="%d{hh:mm:ss.sss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 定义日志输出根目录 -->
    <property name="LOG_HOME" value="./logs"/>

    <!-- 将日志打印到标准输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <charset>UTF-8</charset>
            <!--            <pattern>%d{hh:mm:ss.sss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 将日志输出到文件（不含日志切割） -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/biz-service.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
                 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <!--        <encoder>-->
        <!--            <charset>UTF-8</charset>-->
        <!--            <pattern>{"log_time":"%d{yyyy-MM-dd HH:mm:ss.SSS}","logType":"app_java","level":"%p","thread":"%t","trace":"","class_name":"%c","method_name":"%M","code_line":%L,"message":"{%m}{JSON}"}%n</pattern>-->
        <!--        </encoder>-->

        <encoder>
            <charset>UTF-8</charset>
            <!--            <pattern>%d{hh:mm:ss.sss} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 根日志同时采用两项日志配置，日志会被同时打印到两个地方 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
